<div class="text-center">
  <div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Fiege_Logo_2019.svg/1024px-Fiege_Logo_2019.svg.png" width="500px" height="150px" alt="Firepoker">
  </div>
  <div class="logo">
    Firepoker - FIEGE edition
  </div>
  <div class="lead">
    <p>Planning poker&reg;, also called Scrum poker, is a consensus-based
    technique for estimating, mostly used to estimate effort or relative size of
    user stories in <a href="https://en.wikipedia.org/wiki/Software_development" title="Software development" target="_blank">software development</a>.
    In planning poker, members of the group make estimates by playing numbered
    cards face-down to the table, instead of speaking them aloud. The cards are
    revealed, and the estimates are then discussed. By hiding the figures in
    this way, the group can avoid the cognitive bias of
    <a href="https://en.wikipedia.org/wiki/Anchoring" title="Anchoring" target="_blank">anchoring</a>, where the first
    number spoken aloud sets a precedent for subsequent estimates.
    </p>
    <p>To read more, check out the <a href="https://en.wikipedia.org/wiki/Planning_poker" target="_blank">Wikipedia</a> page.</p>
  </div>
  <div class="call">
    <p><a href="#/games/new" class="btn btn-default btn-lg">Play now</a></p>
  </div>
  <div class="social-buttons vspace">
      <!-- github -->
      <iframe src="https://ghbtns.com/github-btn.html?user=akluth&amp;repo=Firepoker&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
      <iframe src="https://ghbtns.com/github-btn.html?user=akluth&amp;repo=Firepoker&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
  </div>
</div>

<div class="vspace text-center">
  <p>Project built with <a href="https://www.firebase.com" target="_blank">Firebase</a> and <a href="https://www.angularjs.org/" target="_blank">AngularJS</a> at <a href="https://www.wizehive.com/" target="_blank">WizeHive</a>.</p>
  <p>Planning Poker&reg; is a registered trademark of <a href="https://www.mountaingoatsoftware.com/" target="_blank">Mountain Goat Software, LLC</a>.</p>
</div>
